[submodule "tools/bass-untech"]
	path = bass-untech
	url = https://github.com/undisbeliever/bass-untech.git
[submodule "tools/untech-editor"]
	path = untech-editor
	url = https://github.com/undisbeliever/untech-editor.git
